# Production Environment Variables Example
PORT=5000

# Replace this with your MongoDB Atlas URL
# Example: mongodb+srv://<username>:<password>@cluster0.mongodb.net/primetrade?retryWrites=true&w=majority
MONGO_URI=mongodb://127.0.0.1:27017/primetrade_task

# Replace this with a secure random string in production
# Example: generate one using `require('crypto').randomBytes(64).toString('hex')`
JWT_SECRET=supersecretjwtkey_for_development_only
